<div class="card mb-3">
    <div class="card-body">
        <div id="" class="row">
            <div class="col-md-8">
                <input type="search" id="qEvent" class="form-control" placeholder="Search Event" autocomplete="off" />
            </div>
            <div class="col-md-3">
                <input type="search" id="qDate" class="form-control" placeholder="Search Date" autocomplete="off" />
            </div>
            @* <div class="col-md-3">
                <input type="search" id="qLocation" class="form-control" placeholder="Search Location" />
            </div> *@
            <div class="col-md-1 d-flex align-items-end">
                <button type="button" onclick="EventTable()" class="btn btn-secondary"><i class="fas fa-search"></i></button>
            </div>
        </div>
    </div>
</div>

<div class="card card-flush">
    <div class="card-header pt-5">
        <div class="card-toolbar">
            <button type="button" class="btn btn-sm btn-light-primary rotate" onclick="ViewCreate_Modal()">
                Start new event
                <i class="ki-duotone ki-plus fs-3 ms-1"></i>
            </button>
        </div>
    </div>

    <div class="card-body">
        <div class="table-responsive">
            <table class="table align-middle table-row-dashed fs-6 gy-3 no-footer" id="EventTable">
                <thead>
                    <tr class="text-gray-500 fw-bold fs-7 text-uppercase gs-0">
                        <th class="text-center mw-20px">No</th>
                        <th class="min-w-450px">Event</th>
                        <th class="text-center min-w-105px">Date</th>
                        <th class="text-center mw-50px">Hour</th>
                        <th class="text-center min-w-100px">Action</th>
                    </tr>
                </thead>
            </table>
        </div>
    </div>
</div>

@await Html.PartialAsync("~/Views/Event/Modal/ModalCreate.cshtml")
@await Html.PartialAsync("~/Views/Event/Modal/ModalEdit.cshtml")
@await Html.PartialAsync("~/Views/Event/Modal/ModalView.cshtml")

@section Scripts {
    @await Html.PartialAsync("~/Views/Event/Modal/ModalJS.cshtml")
    @await Html.PartialAsync("~/Views/Event/DatatableJS.cshtml")
}