<!--Bank Statement Import Modal - File -->
<div class="modal fade" id="Event_ModalEdit" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <span class="fs-2" style="font-weight:bold;">Update Event</span>
                <!--begin::Close-->
                <div>
                    <button type="button" class="btn btn-sm btn-light-primary" onclick="SubmitEditModal()">Update</button>
                    <button type="button" class="btn btn-sm btn-light fw-bold" onclick="CloseModal()">Close</button>
                </div>
            </div>

            <div class="modal-body py-lg-1 px-lg-10">
                <div class="py-lg-5">
                    <!--begin::Body-->
                    <div class="d-flex flex-column flex-lg-row-fluid" enctype="multipart/form-data">

                        <div class="tab-content" id="myTabContent">
                            <form id="FormEventEdit">
                                <input type="hidden" id="EventIdEdit" name="Id" />
                                <div class="mb-5">
                                    <label class="form-label ms-2 fs-6 mb-1 required">Event</label>
                                    <input id="EventName_Edit" name="Event" class="form-control mb-2" autocomplete="off" />
                                </div>

                                <div class="mb-5">
                                    <label class="form-label ms-2 fs-6 mb-1 required">Date</label>
                                    <input id="EventDate_Edit" name="Date" class="form-control mb-2" autocomplete="off" />
                                </div>

                                <div class="mb-5">
                                    <label class="form-label ms-2 fs-6 mb-1 required">Time</label>
                                    <input type="text" id="EventHour_Edit" name="Hour" class="form-control mb-2 timepkr" autocomplete="off" />
                                </div>

                                <div class="mb-5">
                                    <label class="form-label ms-2 fs-6 mb-1 required">Location</label>
                                    @* <input id="EventLocation_Create" name="Location" class="form-control mb-2" autocomplete="off" /> *@
                                    <textarea id="EventLocation_Edit" name="Location" class="form-control mb-2" autocomplete="off" maxlength="255"></textarea>
                                </div>

                                <div class="mb-5">
                                    <label class="form-label ms-2 fs-6 mb-1">Description</label>
                                    @* <input id="EventNote_Create" name="Note" class="form-control mb-2" autocomplete="off" /> *@
                                    <textarea id="EventNote_Edit" name="Note" class="form-control mb-2" autocomplete="off" maxlength="255"></textarea>
                                </div>
                            </form>
                        </div>

                    </div>
                </div>
            </div>

            <!--end::Modal content-->
        </div>
        <!--end::Modal dialog-->
    </div>
</div>